@import "variables.scss";
body {
  background-color: $black-bg;
}
.logo-img {
  margin-top: .9rem;
  margin-bottom: 0.9rem;
  height: 1.525rem;
  width: $logo-icon-width;
}

video{
  border-radius: 0.5rem;
  max-height: 500px;
  max-width: 500px;
  margin-top: 1rem;
}

.tweet-box .tweet-box-profile-mobile 
{
  display:none;
}
.left-icon {
  width: $icon-width;
  height: $icon-height;
  margin-right: 10.5px;
}
.list-icon {
  height: 24px;
  width: 23px;
  padding-left: 2px;
  margin-right: 13px;
}
.comment-box 
{
  display: none;
  
}

.comment-box-bottom
{
display: flex;
width: 90%;
flex-direction: column;
justify-content: start;
margin-left: 1rem;
align-items: flex-start;
.post-input-1{
  padding: 0;
  margin-bottom: 1rem;
    background-color: $black-bg; 
    border: none;
    border-radius: 8px; 
    margin-left: 10px;
    width: 100%; 
    font-size: 20px;
    font-weight: 500;
    color: white;
    outline: none; 
  
}
}
.past-comments {
  .post 
  {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  .post-text
  {
    margin-top: 0rem;
  }
}
.comment-box-profile-section
{
  
  .comment-box-bottom-container
{
  display: flex;
 width: 50vw;
  justify-content: space-between;
  align-items:center;
  
}
  display: flex;
  height: 10vh;
  justify-content: flex-start;
  align-items: flex-start;
}
.comment-icons
{
  display: flex;
  justify-content: space-evenly;
  width: 12vw;
  img 
  {
    height:   2.5vh;
  }
}
.main-container {
  margin-left: $navigation-section-margin;
  margin-right: 10%;
  display: flex;
  color: $text-color;
  font-family: "Roboto", sans-serif;
  font-size: $medium-font-size;

  .navigation-section {
    padding-left: 2.1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 16rem;
    border-right: $border-line-color 1.7px solid;
    position: sticky;
    top: 0;
    height: 97vh;
  }

  .navigation-panel {
    display: flex;
    height: $navigation-section-subcontainer;
    margin-bottom: 1.6vh;
    padding-top: 0.15vh;
    align-items: center;
    justify-content: center;

    .text-div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav-bar-text {
      font-size: $medium-font-size;
      margin-left: $icon-text-margin;
    }
  }
  .home-div {
    padding-top: 0;
    padding-bottom: 0;
    height: $navigation-section-subcontainer/2;
  }
}

.active {
  font-weight: bold;
}
.post 
{
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.tweet-btn {
  margin-top: 2px;
  background-color: $button-bg;
  color: white;
  border: none;
  padding: 1.8vh 6vw;
  border-radius: 28px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.post-btn-1 {
  margin-top: 2px;
  background-color: $button-bg;
  color: white;
  border: none;
  padding: 1.8vh 5rem;
  border-radius: 28px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.posts
{  color:#E7E9EA;
  margin: 2vh;
  
.dots-icon 
{
  height: 40px;
}

}
.post-text-including-icon
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .dots-class
  {
    width: 5%;
  }
  .followers 
  {
    width: 70%;
  }
}

.post-text 
{

 
  font-size: 1rem;
 font-family: 'Poppins',sans-serif;
 font-weight: 400;
}

.hashtags
{
  color: $button-bg;
}
.post-profile-whole-text
{
  display: flex;
  flex-direction: column;
  margin-left: 1.2vw;
  img 
  {
    width: 2vw;
  }
  width: 90%;
}
.post-profile
{
  display: flex;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 700;
  align-items: flex-start;
  margin-bottom: auto;
  .post-profile-text
  {
    display: flex;

    .post-profile-username
    {
      margin-left: .3vw;
      color: $subtext-color;
    }
  }
}

.post-profile .post-image img{
  max-width: 500px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.post-input-image img{
  margin-top: 4px;
  margin-bottom: 4px;
  max-width: 500px;
  max-height: 300px;
  border-radius: 0.5rem;
}

.post-icons
{
  display: flex;
  justify-content: space-evenly;
  border-bottom: $border-line-color 1px solid;
  padding-bottom: 2vh;
  margin-top: 2vh;
  img 
  {
    height: 3vh;
  }
}
.comment-box-profile-section
{
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: $border-line-color 1px solid;
}

.profile-section {
  display: flex;
  position: relative;

  bottom:30px;
  align-items: flex-end;
  margin-top: 8vh;
  padding-bottom: 1vh;
  font-size: medium;
  font-weight: bold;
  img {
    border-radius: 50%;
    width: max-content;
  }
}
.profile-subtext {
  margin-top: 0.5vh;
  color: #5e5e5e;
}
.mid-profile-section {
  width: 10rem;
}
.profile-icon {
  display: none;
}
.followers {
  display: none;
}
.plus-mobile
{
    display:none;
}
div.navigation-panel.monetiation-div,
div.navigation-panel.settings-div,
div.navigation-panel.logout-div,
div.navigation-panel.adds-div {
  display: none;


}
.post-input-container 
{
  width: 100%;
}
.tweet-box-profile {

  display: flex;
  align-items: flex-start;
  width: 54vw;
}

.profile-img-post {
  border-radius: 50%;
  height: 40px;
}
.post-input {
  background-color: $black-bg; 
  border: none;
  border-radius: 8px; 
  padding: 8px; 
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
  color: white;

margin-top: 0;


}
.input-box 
{
  height: 7vh;

}
.post-input:focus {
  outline: none; 
}
.tweet-box
{
  padding-left: 2vh;
  padding-right: 2vh;
  margin-top: 2vh;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2vh;
border-bottom: $border-line-color 1px solid;

}
.tweet-box-bottom-container
{
  display: flex;
  justify-content: space-between;
  .tweet-box-bottom
{
  img 
  {
   height: 2.5vh;
  }
display: flex;
width: 30vh;
justify-content: space-evenly;
margin-top: 10px;
}
}
.icon 
{
  cursor:pointer;
}
.like 
{
  display: flex;
  font-size: medium;
  justify-content: center;
  align-items: center;
  color: $subtext-color;
}
.tweet-btn-container
{
  align-self: flex-end;
  margin-top: auto;
  // padding-left: 30px;
  button 
  {
    background-color: #0F4E78;
    padding: 1vh 2.5vw;
    color: #70797F;
  }
}
.retweet
{
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: medium;
  img 
  {
    padding-right: .5rem;
  }
}
.tweet-btn:focus
{
  color:$button-bg
}
.floating-tweet-box-icon
{
  display: none;
}
.center-container
{
  width: 50%;
  border-right: $border-line-color 1px solid;

}

@media screen and (max-width: 414px) {
  div.navigation-panel.monetiation-div,
  div.navigation-panel.settings-div,
  div.navigation-panel.logout-div {
    display: flex;
  }
  .tweet-box .tweet-box-profile
  {
    display: none;
  }
  .center-container
  {
    width: 100vw;
  }
.tweet-box
{
  display: none;
  border-bottom: none;
}

.floating-tweet-box-icon
{
  background-color: $button-bg;
  color: white;
  border: none;
position: fixed;
  bottom: 4cqb;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: flex;

  margin: 20px;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
}
div.profile-icon
{
  display: flex;
}
.floating-tweet-box-icon
{
  display: flex;
}
  .main-container {
    .profile-icon {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 0.6rem;
      padding-left: 0.6rem;
      .profile-img {
        display: block;
        border-radius: 50%;
        height: 4vh;
        margin-right: 10vw;
      }
    }
    font-size: 20px;
    margin-left: 0.1rem;
    margin-right: .2rem;
    display: block;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
   
    .navigation-section {
      justify-content: flex-end;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        box-shadow: 0px 0px 10px #434B50; 
        font-size: 14px;
      margin-left: 0;
      height: 100vh;
      display: none;
      padding-bottom: 10px;
      // padding-right: 10px;
      .navigation-panel img {
        padding-right: 2px;
        height: 24px;
      }
      .adds-div
      {
        display: flex;
      }
      .navigation-panel {
        padding-bottom: 5px;
        padding-top: 2px;
        margin-left: -10px;
      }

      .explore-div,
      .messages-div {
        display: none;
      }
      .logout-div {
        padding-bottom: 15px;
        padding-right: 15vh;
        border-bottom: $border-line-color 1.7px solid;
        
      }
    }
 
  
    .profile-section {
 width: 100%;
      position: relative;
      .profile-img
      {
        width: 100%;
      }
       .profile-img-section
       {
        display: flex;
        margin-top: 4vh;
        width: 95%;
       .left-icon
       {
        width: 100%;
       }
        justify-content: space-between;
        align-items: center;
      .left-icon
      {
        width:2rem;
        height: 2rem;
      }
         .plus-icon{
          position: relative;
            height: 12px;
            border: #404D57 .01px solid;
            border-radius: 50%;
            padding: 8px;
        }
       }
        .plus-mobile{
            display: block;
            border-radius: 50%;
            border-color: white;
        }
      img {
        height: 40px;
        margin-bottom: 10px;
        margin-top: 2px;
      }
      .dots-icon {
        display: none;
      }
      .followers {
        margin-top: 2vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
      }
      .profile-subtext {
        font-size: 15px;
      }
    }
  }
  
img.left-icon 
{
  margin-right: 6px;
}
  .profile-section {
    order: 6;
  }
  .profile-div {
    order: 5;
  
  }

  .premium-div {
    order: 4;
  }

  .lists-div {
    order: 3;
  }
  .bookmarks-div {
    order: 2;
  }

  .communites-div {
    order: 1;
  }
  .main-container
{
    margin-left: 0;
}
.tweet-box-profile {

  display: flex;
  align-items: start;
}

.post-profile-whole-text img
{
  width: 5vw;
}


.post-input {
  background-color: $black-bg; 
  border: none;
  border-radius: 8px; 
  margin-left: 10px;
  width: 100%; 
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding-bottom: 10vh;
}
.tweet-box
{
  margin: 2vh;
  justify-content: flex-start;
  .tweet-box-profile-section
  {
    display: flex;
  }
}
.X-logo-mobile
{
height: 2vh;
}
.tweet-box-bottom-container
{
  display: flex;
  justify-content: space-between;
  .tweet-box-bottom
{
  img 
  {
   height: 2.5vh;
   margin-right: 7vw;
  }
display: flex;
width: 50vw;

margin-top: 10px;
}
}

.tweet-btn
{
margin-right: 10px;
  button 
  {
    background-color: #0F4E78;
    padding:20px;
    color: #70797F;
  }
}


.title-bar

{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
  width: 90vw;
}
.right-side-section
{
  display: flex;
  width: 35w;
  align-items: center;
  justify-content: space-evenly;
}
.tweet-btn {

  background-color: $button-bg;
  color: white;
  border: none;
  padding: 7vh 6vw;
  border-radius: 28px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.drafts
{
  color:$button-bg;
  margin-right: 8vw;
  font-weight: bold;
}
.everyone-can-reply
{
  display: flex;
  img 
  {
      margin-right: 2vw;
  }
  align-items: center;
  border-bottom: $border-line-color 1px solid;
  padding-bottom: 1rem;
}
.posts 
{
  margin-right: 2rem;
  .profile-img-post
  {
    height: 35px;
  }
 .post-text{
  padding-right: 5vw;
  }
  .post-profile-whole-text
{
  margin-left: .5rem;
}
.hashtags{
  font-weight: 600;
}
}

.comment-box-profile-section .comment-box-bottom-container {
  width: 70vw;
}
.comment-icons{
  width: 40vw;
}
.post-input-image{
  display: flex;
  justify-content: flex-end;
}
.post-input-image img{
  margin-top: 4px;
  margin-bottom: 4px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 0.5rem;
}
video{
  border-radius: 0.5rem;
  max-height: 300px;
  max-width: 300px;
}
}
