/* Screen width: 1946.8px
Screen height: 1154.5px

twitter-logo-width: 27px = 1.688rem

navigation-section-width:275px
navigation-section-margin: 190px
navigation-section-logos = 21.9px 
navigation-section-font = 24px;
each-item on the nav bar on left has height = 50.2 px
*/


// Background Colors:
$black-bg:#000000;
$button-bg:#1D9BF0;

//Border Colors:
$border-line-color:#2F3336;

//Text Colors: 
$text-color:#FFFFFF;
$subtext-color:#4A4E51;


// Sizes: 
$navigation-section-margin: 5%;
$navigation-section-width: 13vw;
$logo-icon-width:1.688rem;
$icon-width: 28px;
$icon-height: 33px;
$icon-text-margin:1.13vw;
$navigation-section-subcontainer: 4.348 vh;
$navigation-section-subcontainer-bottom-padding: 2.205 vh;

// Fonts:
$medium-font-size: 20px;
