.body {
  display: flex;
    flex-direction: column;
    width: 80vw;
    margin-top: 10vh;
    --margin-left: 5vw; 
    margin-left: var(--margin-left);
    --margin-right: calc(2 * var(--margin-left)); 
    margin-right: var(--margin-right);
    border :gainsboro 1px solid;
    padding:10px
   }

  .main-container 
  {
    font-size: 16px;
    font-family: 'Lato', sans-serif;

  }