.todo-header {
  
    
}
.todo-input
{
    display: flex;
    button 
    {
        background-color: rgb(26, 25, 25);
        color: white;
        border-radius: 2px;
        border:none
    }
    input 
    {
        border :gainsboro 1px solid;
        height: 30px;
    }
}
